<div x-data="app()" x-init="init">
  <div class="box" style="height: 100vh">
    <div class="columns">
      <div class="column is-2-desktop"></div>
      <div class="column is-8-desktop">
        <div class="box">
          <form @submit.prevent="submitForm" action="">
            <div class="field">
              <input
                name="url"
                class="input"
                type="text"
                placeholder="URL"
                x-model="data.formData.url"
              />
            </div>
            <div class="field">
              <button class="button is-primary">Shorten</button>
            </div>
          </form>
        </div>

        <div class="box" style="overflow-y: scroll">
          <table class="table" style="width: 100%">
            <thead>
              <tr>
                <th>Short Url</th>
                <th>Long Url</th>
                <th>View Count</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <template x-for="url in data.urls">
                <tr>
                  <td>
                    <a
                      :href="`/${url.shortUrl}`"
                      target="_blank"
                      x-text="url.shortUrl"
                    ></a>
                  </td>
                  <td>
                    <a :href="url.url" target="_blank" x-text="url.url"></a>
                  </td>
                  <td x-text="url.viewCount"></td>
                  <td>
                    <button
                      class="button is-danger is-small"
                      @click="showDeleteModal(url.id, url.shortUrl)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column is-2-desktop"></div>
    </div>
  </div>

  <div x-show="data.isShowDeleteModal" class="modal is-clipped is-active">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <p>Delete <span x-text="data.deleteModal.url"></span>?</p>
          <div class="is-flex is-justify-content-flex-end">
            <div class="">
              <button class="button is-danger" @click="deleteUrl">Yes</button>
              <button class="button" @click="data.isShowDeleteModal = false">
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function app() {
      return {
        data: {
          isShowDeleteModal: false,
          deleteModal: {
            id: 0,
            url: "",
          },
          formData: {
            url: "",
          },
          urls: [],
        },
        init: function () {
          this.getUrls();
        },
        getUrls: async function () {
          const res = await fetch("/api/v1/url");
          const { data } = await res.json();

          this.data.urls = data;
        },
        submitForm: async function () {
          // send data to server
          const res = await fetch("/api/v1/url", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              url: this.data.formData.url,
            }),
          });

          this.data.formData.url = "";
          this.getUrls();
        },
        showDeleteModal: function (id, url) {
          this.data.deleteModal = {
            id,
            url,
          };

          this.data.isShowDeleteModal = true;
        },
        deleteUrl: async function () {
          const res = await fetch(`/api/v1/url/${this.data.deleteModal.id}`, {
            method: "DELETE",
          });

          this.data.isShowDeleteModal = false;
          this.getUrls();
        },
      };
    }
  </script>
</div>
