<div class="columns pt-5">
  <div class="column is-2-desktop"></div>
  <div class="column is-8-desktop">
    <div class="box">
      <form action="/admin/add-url" method="POST">
        <div class="field">
          <input name="url" class="input" type="text" placeholder="URL" />
        </div>
        <div class="field">
          <button class="button is-primary">Shorten</button>
        </div>
      </form>
    </div>

    <div class="box">
      <table class="table">
        <thead>
          <tr>
            <th>Short Url</th>
            <th>Long Url</th>
            <th>View Count</th>
          </tr>
        </thead>
        <tbody>
          {{range .urls}}
          <tr>
            <td><a href="/{{.ShortUrl}}" target="_blank">{{.ShortUrl}}</a></td>
            <td><a href="{{.Url}}" target="_blank">{{.Url}}</a></td>
            <td>{{.ViewCount}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="column is-2-desktop"></div>
</div>
