<div class="box" style="height: 100vh">
  <div class="columns">
    <div class="column is-2-desktop"></div>
    <div class="column is-8-desktop">
      <div class="box">
        <form action="/admin/add-url" method="POST">
          <div class="field">
            <input name="url" class="input" type="text" placeholder="URL" />
          </div>
          <div class="field">
            <button class="button is-primary">Shorten</button>
          </div>
        </form>
      </div>

      <div class="box" style="overflow-y: scroll">
        <table class="table" style="width: 100%">
          <thead>
            <tr>
              <th>Short Url</th>
              <th>Long Url</th>
              <th>View Count</th>
            </tr>
          </thead>
          <tbody
            x-data="{ urls: [1,2,3]}"
            x-init="urls = (await (await fetch('/api/v1/url')).json()).data"
          >
            <template x-for="url in urls">
              <tr>
                <td>
                  <a
                    :href="`/${url.shortUrl}`"
                    target="_blank"
                    x-text="url.shortUrl"
                  ></a>
                </td>
                <td><a :href="url.url" target="_blank" x-text="url.url"></a></td>
                <td x-text="url.viewCount"></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
    <div class="column is-2-desktop"></div>
  </div>
</div>
